{% extends 'layout.html.twig' %}
{% set active = 'new_project' %}

{% block content %}
    <h1>{{ 'Nuevo Proyecto'|trans }}</h1>
    {{ form_errors(form) }}
	{{ form(form, {action: path('newProject')}) }}
	<script>
		var logic = function( currentDateTime ){
			
		};
		var today = new Date();
      	
		$('#form_startDate').datetimepicker({
			onChangeDateTime:logic,
			onShow:logic,
			language: 'es-ES',
			minDate: today,
			format: 'Y-m-d H:i:s'
		});
	</script>
    
{% endblock %}
